<!DOCTYPE html>
<html>
  <head>
    <title><%= BROWN_NAME_NORMAL %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render '/stylesheets' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   <%= render "/javascripts" %>
  </head>

  <body>
    <%= render "/flashes" %>
    <%= render '/layouts/application/header' %>

    <!-- layout based on getbootstrap.com/docs/5.2/examples/dashboard/ -->
    <div class="container-fluid">
      <div class="row">
        <%= render '/layouts/application/sidebar' %>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>

