<!DOCTYPE html>
<html>
  <head>
    <title><%= BROWN_NAME_NORMAL %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render '/stylesheets' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   <%= render "/javascripts" %>
  </head>

  <body>
    <%= render "/flashes" %>
    <%= yield %>
  </body>
</html>
